
.iphone {
    position: fixed;
    font-family: 'Jura', sans-serif;
}

div {
    padding: 0;
    margin: 0;
}

.app {
    border: 1px solid black;
    height: 568px;
    width: 318px;
    position: absolute;
    z-index: 2;
    top: 8.7em;
    left: 3.8em;
    background: #F9E5AD;
    /*background: url('../img/color.png');*/
}

.outline {
    position: absolute;
    z-index: 1;
}

.home-banner {
    height: 2.5em;
    box-shadow: -5px 2px 10px gray, 5px 2px 10px gray;
    position: absolute;
    z-index: 3;
    width: 100%;
    border-bottom: 1px solid gray;
    background: linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 0%, #FFFFFF 4%, #FFFFFF 17%, #FFFFFF 59%, #FFFFFF 71%, #FFFFFF 84%, #FFFFFF 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cfe6e9', endColorstr='#267e8c', GradientType=0); /* IE6-9 */
    color: #E60909;
}

.app {
    overflow: hidden;
}

.settings {
    margin: 4px 10px 5px 10px;
    float: left;
}

.title {
    text-align: center;
    font-size: 2em;
    font-weight: 600;
    width: 72%;
    margin-top: -3px;
    float: left;
    color: #A36D8F;
}

.user {
    float: right;
    margin: 4px 10px 5px 10px;
}

.player {
    width: 300px;
    height: 280px;
    position: relative;
    z-index: 8;
    top: 3.5em;
    left: 8px;
}

.details {
    width: 300px;
    position: absolute;
    z-index: 4;
    left: 8px;
    color: #313E51;
    display: inline-block;
    bottom: 10px;
}

.vinyl img {
    width: 280px;
    margin-left: 8px;
    position: relative;
    z-index: 10;

}

.controls img {
    width: 180px;
    position: relative;
    z-index: 3;
    top: -17em;
    left: 9.5em;
    user-select: none;
    -webkit-user-drag: none;
}

.controls {
    border: 3px solid black;
    position: relative;
    z-index: -1;
    top: -19.5em;
    left: 15.2em;
    user-select: none;
    -webkit-user-drag: none;
    width: 80px;
    height: 100px;
    overflow: hidden;
    box-sizing: border-box;
    border-top-right-radius: 20px;
    background-color: #A36D8F;
}

.cover {
    position: relative;
    z-index: 10;
    border-top: 10px solid #262626;
    border-right: 4px solid #262626;
    height: 280px;
    width: 280px;
    border-top-right-radius: 140px;
    left: -15.3em;
    background-color: white;
    top: -4px;
    box-shadow: 0px 3px 3px gray inset;
}

.needle img {
    position: absolute;
    z-index: 20;
    width: 175px;
    height: 210px;
    top: 1em;
    left: 10.5em;
    transform: rotate(-26deg);
    transform-origin: 73% 25%;
    pointer-events: none;
}

.circle1 {
    position: absolute;
    z-index: 21;
    width: 13px;
    height: 13px;
    top: 4.4em;
    left: 19.3em;
    border-radius: 8px;
    border: 2px solid black;
    background-color: #FCFAFF;
    cursor: pointer;
}

.albumimg img {
    width: 130px;
    height: 130px;
    box-shadow: -3px 5px 5px gray;
}

.albumimg {
    width: 145px;
    float: left;
}

.artist {
    width: 140px;
    float: right;
    font-size: 1.2em;
}

#vrotate {
    transform-origin: center center;
    -webkit-animation: entire 1s infinite linear;
    -moz-animation: entire 1s infinite linear;
    animation: entire 1s infinite linear;
}

.choice {
    width: 200px;
    margin: 15px auto;
    padding-left: 10px;
}

#like {
    z-index: 10;
    padding-top: 10px;
    left: 190px;
    position: relative;
}

#dislike {
    z-index: 10;
    float: left;
}

.ui-loader {
    display: none;
}

.playpause img {
    max-width: 45px;
}

.playpause {
    z-index: 5;
    color: #313E51;
    display: inline-block;
    position: absolute;
    top: 50px;
    left: 130px;
}

.control-bar {
    display: block;
    position: absolute;
    top: 220px;
    z-index: 99999;
}

.control-bar .fa {
    cursor: pointer !important;
}

.user, .settings {
    color: gray;
}

#like, #dislike {
    color: #D47966;
}

.fa-play {
    padding-left: 5px;
}

.fa-soundcloud {
    position: absolute;
    right: 20px;
    top: 3px;
}

#tracktime {
    display: inline-block;
    position: relative;
    left: -10px;
    right: 0;
    top: 65px;
    font-size: 18px;
    text-align: center;
    max-height: 22px;
}